@page "/project/add"
@inject IProjectService ProjectService
@inject IToastService ToastService
@inject NavigationManager NavigationManager

<div class="mx-auto pt-5">
    <h3>프로젝트 추가</h3>
    <EditForm
        Model="@ProjectAddInfo"
        OnValidSubmit="HandleSubmitProjectAddInfo"
        >
            <div class="py-3 border-bottom ">
                <label for="project-id" class="add-form-label">프로젝트 명</label>
                <InputText 
                    id="project-id" 
                    class="form-control"
                    @bind-Value="ProjectAddInfo.Title"
                />

            </div>
            <div class="py-3 border-bottom">
                <label for="firebase-id" class="add-form-label">Firebase Id</label>
                <InputText 
                    id="firebase-id" 
                    class="form-control"
                    @bind-Value="ProjectAddInfo.FirebaseId"
                />
            </div>
            <div class="py-3">
                <label for="firebase-sdk" class="add-form-label">Firebase SDK</label>
                <DragAndDropTextArea 
                    id="firebase-sdk" 
                    @bind-Value="ProjectAddInfo.Credentials" 
                />
            </div>
            <div class="pb-3 border-bottom d-flex justify-content-center">
                <button type="submit" class="btn btn-lg btn-primary mx-3">추가</button>
                <NavLink href="/" class="btn btn-lg btn-secondary mx-3">취소</NavLink>
            </div>
    </EditForm>
</div>

@code {
    private ProjectAddInfo ProjectAddInfo = new() {};

    private async void HandleSubmitProjectAddInfo()
    {
        try 
        {
            await ProjectService.AddProject(ProjectAddInfo);
        }
        catch (Exception e)
        {
            ToastService.ShowError($"프로젝트를 추가하는데 오류가 발생했습니다.\n {e.Message}");
            return;
        }
        ToastService.ShowSuccess($"{ProjectAddInfo.Title} 프로젝트 생성에 성공했습니다.");
        NavigationManager.NavigateTo("/");
    }
}