@page "/"
@attribute [Authorize]
@inject IAuthenticationService AuthService
@inject IProjectService ProjectService
@inject IToastService ToastService
@inject IJSRuntime JS

<PageTitle>BCSD PUSH SERVER</PageTitle>

<header class="navbar top-row px-4 bg-dark">
    <NavLink class="navbar-brand" href="/" target="_blank">BCSD Push Server</NavLink>
    <div class="ml-auto">
        <NavLink class="btn btn-outline-warning" href="/logout">Logout</NavLink>
    </div>
</header>
<ul class="project-list">
    <li class="project-button project-button--add">
        <NavLink href="project/add">
            <span class="oi oi-plus" aria-hidden="true"></span>&nbsp;프로젝트 추가하기
        </NavLink>
    </li>
    @if (ProjectInfos != null)
    {
        @foreach (var ProjectInfo in ProjectInfos) {
            <li class="project-button">
                <NavLink href="@($"project/{ProjectInfo.Id}")">
                    <h3 class="project-button__title">@ProjectInfo.ProjectName</h3>
                    <div class="project-button__info">
                        <span>
                            ID: @ProjectInfo.Id
                        </span>
                        <span>
                            마지막 수정 날짜: @ProjectInfo.UpdatedAt
                        </span>
                    </div>
                </NavLink>
            </li>
        }
    }
</ul>

@code {
    private ProjectInfo[]? ProjectInfos;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            ProjectInfos = await ProjectService.GetProjects();
        }
        catch (Exception e)
        {
            ToastService.ShowError($"프로젝트들을 불러오는데 오류가 발생했습니다. {e.Message}");
            return;
        }
    }
}

