@inject NavigationManager NavigationManager;
@inject ILocalStorageService LocalStorageService;

<CascadingBlazoredModal>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingBlazoredModal>

@code {
    protected override async Task OnInitializedAsync () {
        var path = new Uri(NavigationManager?.Uri ?? "").PathAndQuery;
        var token = await LocalStorageService.GetItem<string>("refreshToken");
        if (token == null && NavigationManager != null && path != "/login")
        {
            NavigationManager.NavigateTo("/login");
        }
    }
}