html {
    height: 100%;
}
body, #app {
    font-family: 'Pretendard', serif;
    min-height: 100vh;
    height: 100%;
}

#loading {
    display: block;
    height: 30vh;

    svg {
        height: 30vh;
    }
}