@inherits LayoutComponentBase
@using Blazored.Toast.Configuration
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager
<div class="page">
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>
<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="5"
                IconType="IconType.FontAwesome"
                ShowProgressBar="true"
                SuccessClass="success-toast-override"
                ErrorIcon="fa fa-bug" 
                SuccessIcon="fa fa-thumbs-up" />
