@inherits LayoutComponentBase
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager
<div class="page">
    <main>
        @if (AuthenticationService.User != null)
        {
            <header class="top-row px-4">
                <NavLink href="/" target="_blank">BCSD Push Server</NavLink>
                <div class="ml-auto">
                    <NavLink href="/logout">Logout</NavLink>
                </div>
            </header>
        }
        <article class="content">
            @Body
        </article>
    </main>
</div>
